<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </Console>

        <!-- File Appender for All Logs -->
        <File name="AllLogs" fileName="logs/all.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </File>

        <!-- File Appender for Error Logs -->
        <File name="ErrorLogs" fileName="logs/error.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </File>

        <!-- File Appender for Info Logs -->
        <File name="InfoLogs" fileName="logs/info.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </File>
    </Appenders>

    <Loggers>
        <!-- Root Logger set to WARN -->
        <Root level="warn">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="AllLogs"/>
        </Root>

        <!-- Logger for Error Level -->
        <Logger name="ErrorLogger" level="error" additivity="false">
            <AppenderRef ref="ErrorLogs"/>
        </Logger>

        <!-- Logger for Info Level -->
        <Logger name="InfoLogger" level="info" additivity="false">
            <AppenderRef ref="InfoLogs"/>
        </Logger>

        <!-- Application Logger set to INFO -->
        <Logger name="fs19.java.backend" level="info" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="AllLogs"/>
            <AppenderRef ref="ErrorLogs" level="error"/>
            <AppenderRef ref="InfoLogs" level="info"/>
        </Logger>
    </Loggers>
</Configuration>